$color : red;
form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

input::placeholder {
    color: $color;
    font-size: 14px;
    font-weight: 400;
}

.button {
    background-color: $color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"] {
    @extend .button
}
